.App {
  margin: 100px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.app-input {
  display: flex;
  border-radius: 5px;
  width: fit-content;
  overflow: hidden;
  outline: solid 1px;
  margin: 50px auto;
}
.App input {
  width: 250px;
  height: 55px;
  border: none;
  margin: 0;
  padding: 0 10px;
  font-size: 20px;
}
.App input:focus {
  outline: none;
}
.App button {
  width: 60px;
  height: 55px;
  border: none;
  cursor: pointer;
  background-color:rgb(107, 106, 236) ;
  margin: 0;
  font-size: 30px;
}
.todos {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0;
  margin: auto;
  background-color: #F9F8FF;
}
.todos li {
  padding: 0;
  display: flex;
  border-radius: 5px;
  width: 306px;
  height: 56px;
  overflow: hidden;
  outline: solid rgba(0, 0, 0, 0.126) 1px;
}
.todos button {
  height: 100%;
  width: 20%;
}
.todos p {
  display: flex;
  padding: 10px;
  font-size: 16 px;
  align-items: center;
  margin: 0;
  flex-basis: 80%;
}
